.text-center {
  text-align: center !important;
}

.messageArea{
  color: red;
  font-size: 20px;
}

.margin-15{
  margin: 15px 0px 15px 0px;
}

a{
  color: white !important;
  text-decoration: none
}