p{
  border-bottom: grey 1px solid;
}

.appointment-detail-title{
  padding-top: 20px;
  margin-bottom: 0px !important;
}

#date{
  font-size: 30px;
}

#title{
  font-size: 30px;
}


.member-title{
  font-size: 30px;
}

.jumpin{
  width: 45%;
}

.jumpout{
  width: 45%;
}

.button-area{
  margin-top: 15px;
  text-align: center;
}