a{
  text-decoration: none !important;
  color: inherit !important;
}

.container{
  padding: 0px !important;
}

.td-center{
  text-align: center;
}

.font20{
  font-size: 20px;
}

.font25{
  font-size: 25px;
}

.font30{
  font-size: 30px;
}

.font-red{
  color: red;
}

.font-blue{
  color: blue;
}

.font-white{
  color: white;
}

.padB-0{
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}