.container{
  height: 100%;
}

table{
  border: 1px solid black;
  margin-top: 25px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table td{
  border: 1px solid black;
}

h4{
  margin-top: 20px !important;
  text-align: center;
}

.day-content{
  height: 66px;
}

.detail{
  height: 100px;
  display: none;
}

.h3-title{
  margin-top: 20px;
}

.pls-btn{
  display: block;
  height: 30px;
  padding:2px 5px 8px 5px;
  width: 30px;
  margin-top: 10px;
}

.member-select{
  height: 30px;
  margin-bottom: 10px;
}
