a:hover{
  background-color: rgb(194, 241, 235);
}

.list-group-item{
  height: 45px;
  font-size: 20px;
  padding-top: 8px !important;
}

.appointment-title{
  padding-top: 20px;
  margin-bottom: 0px !important;
}

.group-list{
  width: 90%;
  margin: 10px auto;
}