/* 要素指定 */
p{
    font-size: 20px;
    margin-bottom: 10px !important;
    margin-top: 20px !important;
}

input{
    width: 100%;
}

/* class指定 */


.login-form{
    height: 100%;
}

.white-text{
    color: white;
}

.navbar{
    height: 60px;
}

.login-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px !important;
}

.login-table{
    width: 90%;
    margin: 10px auto;
}

.login-btn{
    margin-top: 30px;
    width: 100%;
}

.new-account{
    font-size: 15px !important;
    text-align: center;
}
