/* 要素指定 */
p{
  font-size: 20px;
  margin-bottom: 10px !important;
  margin-top: 20px !important;
}

input{
  width: 100%;
}

/* class指定 */

.container{
  /* margin-top: 20px; */
}

.login-form{
  height: 100%;
}


.navbar{
  height: 60px;
}

.login-title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px !important;
}

.accountID-area{
  margin-top: 10px;
}

.password-area{
  margin-top: 10px;
}

.login-btn{
  margin-top: 40px;
  width: 100%;
}

.new-account{
  font-size: 15px !important;
  text-align: center;
}

.signup-table{
  width: 90%;
  margin: 10px auto;
}