{% extends 'base.html' %}
{% load static %}

{% block css %}
{% static 'css/index.css' %}
{% endblock %}

{% block contents %}

  <div class="section1 text-center">
    <div class="alert alert-warning" role="alert" style="margin-bottom: 0px;">
      <p style="height: 25px; margin-bottom: 0px;">あなたのお店選びを解決！</p>
    </div>
    <div class="margin-15"></div>
    <div class="messageArea"><p>{{ message }}</p></div>
    <p class="badge badge-primary badge-icon">駅情報</p>
    <select class="form-control" id="area" name="area" onchange="HREOnChangeArea();">
      <option value="エリアを選択してください">エリアを選択してください</option>
    </select>
    <select class="form-control" id="line" name="line" onchange="HREOnChangeLine();">
      <option value="路線を選択してください">路線を選択してください</option>
    </select>
    <select class="form-control" id="station" name="station">
      <option value="駅を選択してください">駅を選択してください</option>
    </select>
    <div class="margin-15"></div>
    <p class="badge badge-success badge-icon">スポット</p>
    <select class="form-control" id="category" name="category">
      <option value="項目を選択してください">項目を選択してください</option>
      <option value="bakery">パン屋</option>
      <option value="bar">バー</option>
      <option value="cafe">カフェ</option>
      <option value="food">飲食店</option>
      <option value="night_club">ナイトクラブ</option>
      <option value="park">公園</option>
      <option value="restaurant">レストラン</option>
    </select>
    <div class="margin-15"></div>
    <p class="badge badge-success badge-icon">距離　半径</p>
    <select class="form-control" id="radius" name="radius">
      <option value="項目を選択してください">項目を選択してください</option>
      <option value="500">500m</option>
      <option value="1000">1km</option>
      <option value="1500">1.5km</option>
      <option value="2000">2km</option>
      <option value="2500">2.5km</option>
      <option value="3000">3km</option>
    </select>
  </div>
  <div class="margin-15"></div>
  <div class="section1 text-center">
    <form class="submitForm" action="{% url 'random:returnResult' %}" method="post">{% csrf_token %}
      {{ form.as_p }}
      <button type="button" class="btn btn-primary" id="searchbtn" onclick="submitButton();">君に決めた。</button>
    </form>
  </div>
  <footer></footer>

{% endblock %}

{% block js %}
{% static 'js/index.js' %}
{% endblock %}
