{% extends 'base.html' %}

{% load static %}

{% block css %}
{% static 'css/selectedItem.css' %}
{% endblock %}

{% block contents %}

<div class="result">
  <div class="margin-15"></div>
  <div class="result-title text-center">
    <h2>今から向かうのは。。。</h2>
  </div>
  <div class="margin-15"></div>
  <div class="result-name text-center">
    <h1 class="selected-name">{{ name }}</h1>
  </div>
  <div class="margin-15"></div>
  <div class="a-tag text-center">{{ url | safe }}</div>
  <div class="margin-15"></div>
</div>


{% endblock %}

{% block js %}
{% static 'js/selectedItem.js' %}
{% endblock %}